<html>

<head>

    <title>How Long?</title>
    <link rel="stylesheet" type="text/css" href="howlongdestination.css">

</head>

<body>

<h1>Survivor 101: Literature</h1>

<h2>The following links contain helpful literature concerning coping with Trauma and loss, to include their corresponding link to Amazon.com. By no means is this list meant to be all inclusive. These are just my personal favorites.   
</h2> 

<h3>Literature</h3>
<ol>

   <h4><p>"Once Upon a Family: A Son's Journey of Love, Loss, and Hope" by Pamela L. Adams - (Childrens book)<a href="http://www.amazon.com/Once-Upon-Family-Sons-Journey/dp/1891029355/ref=sr_1_4?s=books&ie=UTF8&qid=1426095522&sr=1-4&keywords=once+upon+a+family">HTML Onc</a></p></h4>

   <h4><p>"I Wasn't Ready to Say Goodbye: Surviving, Coping and Healing After the Sudden Death of a Loved One" by Pamela Blair PhD, Brook Noel<a href="http://www.amazon.com/Wasnt-Ready-Say-Goodbye-Surviving/dp/1402212216/ref=pd_sim_b_6?ie=UTF8&refRID=1P0A68MB0B93J3AXNMSG">HTML Was</a></p></h4>

   <h4><p>"Angel Catcher: A Journal of Loss and Remembrance" by Kathy Eldon, Amy Eldon Turteltaub<a href="http://www.amazon.com/Angel-Catcher-Journal-Loss-Remembrance/dp/0811861724/ref=pd_rhf_dp_s_cp_1_AQNE?ie=UTF8&refRID=100KN4SXR71CMMSAV3A1">HTML Ang</a></p></h4>

   <h4><p>"Angel Catcher for Kids: A Journal to Help You Remember the Person You Love Who Died" by Amy Eldon (Children's book)<a href="http://www.amazon.com/Angel-Catcher-Kids-Journal-Remember/dp/0811834433/ref=pd_bxgy_b_text_y">HTML ANg</a></p></h4>

   <h4><p>"Tear Soup: A Recipe for Healing After Loss" by Pat Schwiebert, Chuck DeKlyen<a href="hhttp://www.amazon.com/Tear-Soup-Recipe-Healing-After/dp/0961519762/ref=pd_bxgy_b_text_z">HTML Tea</a></p></h4>

   <h4><p>"I Wasn't Ready to Say Goodbye: Surviving, Coping and Healing After the Sudden Death of a Loved One" by Pamela Blair PhD, Brook Noel <a href="http://www.amazon.com/Wasnt-Ready-Say-Goodbye-Surviving/dp/1402212216/ref=pd_sim_b_3?ie=UTF8&refRID=167HC8NEVFZBMV1E0G0S">HTML Iwa</a></p></h4>

   <h4><p>"Healing a Spouse's Grieving Heart: 100 Practical Ideas After Your Husband or Wife Dies" by Alan D. Wolfelt PhD<a href="http://www.amazon.com/Healing-Spouses-Grieving-Heart-Practical/dp/1879651378/ref=pd_sim_b_3?ie=UTF8&refRID=1HR7F6RTG58Y0W1R33QB">HTML Hea</a></p></h4>

   <h4><p>"Beyond the Bullet: Personal Stories of Gun violence Aftermath" by Heidi Yewman, Kathy Carlisle<a href="http://www.amazon.com/Beyond-Bullet-Personal-violence-Aftermath/dp/0615277381/ref=sr_1_1?s=books&ie=UTF8&qid=1426098222&sr=1-1&keywords=gun+violence">HTML Bey</a></p></h4>

   <h4><p>"Life and Loss: A Guide to Help Grieving Children" by Linda Goldman<a href="http://www.amazon.com/Life-Loss-Guide-Grieving-Children/dp/0415630800/ref=sr_1_6?s=books&ie=UTF8&qid=1426095508&sr=1-6&keywords=gun+violence">HTML Lif</a></p></h4>

   <h4><p>"Horrendous Death, Health And Well Being (Series in Death, Dying, and Bereavement)" by Daniel Leviton<a href="http://www.amazon.com/Horrendous-Death-Health-Being-Bereavement/dp/1560320338/ref=sr_1_13?s=books&ie=UTF8&qid=1426098713&sr=1-13&keywords=gun+violence">HTML Hor</a></p></h4>

   <h4><p>"Murder Survivor's Handbook: Real-Life Stories, Tips & Resources" by Connie Saindon MA<a href="http://www.amazon.com/Murder-Survivors-Handbook-Real-Life-Resources/dp/0989691306/ref=sr_1_10?ie=UTF8&qid=1426099339&sr=8-10&keywords=homicide+survivors">HTML Mur</a></p></h4>

   <h4><p>"Transforming Traumatic Grief: Six Steps to Move from Grief to Peace After the Sudden or Violent Death of a Loved..." by Courtney M Armstrong LPC<a href="http://www.amazon.com/Transforming-Traumatic-Grief-Sudden-Violent/dp/0983499918/ref=sr_1_12?ie=UTF8&qid=1426099519&sr=8-12&keywords=homicide+survivors">HTML Tra</a></p></h4>

   <h4><p>"A Grief Like No Other: Surviving the Violent Death of Someone You Love" by Kathleen O'Hara<a href="http://www.amazon.com/Grief-Like-No-Other-Surviving/dp/1569242976/ref=pd_sim_b_1?ie=UTF8&refRID=17345J23SMF91ZRTC0QW">HTML Agr</a></p></h4>

   <h4><p>"A Terrible Thing Happened" by by Margaret M. Holmes, Sasha J. Mudlaff (Children's book)<a href="http://www.amazon.com/Angel-Catcher-Kids-Journal-Remember/dp/0811834433/ref=pd_bxgy_b_text_y">HTML ANg</a></p></h4>

</ol>



</body>

<!-- Home  Tab -->

</html>











