<html>

<head>

    <title>How Long?</title>
    <link rel="stylesheet" type="text/css" href="howlongdestination.css">

</head>

<body>

<h1>How long?</h1>

<h2>Mission: This evolving platform will act as a voice and reference source for the survivors of gun violence.</h2> 

<h2>Vision: Through the humanization of gun violence survivors, to drive change of the existing gun control laws to include mandatory criminal background checks for <strong>all</strong> firearm purchases, and the creation of a national database composed of individuals identified by a medical professional as someone who <strong>poses a threat to themselves or others</strong>.</h2>



<h2>Links</h2>

<ol>

   <h2><li><a href="file:///Users/joecursi/Desktop/howlong1.html" tabindex="1">Victim Memorial</a></li></h2>

   <h2><li><a href="file:///Users/joecursi/Desktop/howlong2.html" tabindex="1">Survivor Resources</a></li></h2>

   <h2><li><a href="file:///Users/joecursi/Desktop/howlong3.html" tabindex="1">News</a></li></h2>

   <h2><li><a href="file:///Users/joecursi/Desktop/howlong3.html" tabindex="1">Add,Update,Comment</a></li></h2>

</ol>

<!-- Add/Update: Memorial/News Entry  Or General Comments -->


</body>

</html>