<head>

    <title>How long?</title>
    <link rel="stylesheet" type="text/css" href="mystyledestination.css">


</head>

<body>

<style>
.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.img {
    margin-left: auto;
    margin-right: auto;
    width: 56%;
}

</style>

<div class="img">
<img src="file:///Users/joecursi/Desktop/Kirchner.jpg" width="800" height="450" alt="">

</div>

<div class="center">

<h1><strong>Daniel Kirchner</strong></h1>

<h2><strong>March 29th, 2013</strong></h2>

<h2><strong>Harrisburg, NC</strong></h2>

<h2><p>Anthony Hardy shot and killed his neighbors on either side of his home before killing himself after a police standoff. Police say they received a 911 call from the wife of 42-year-old Daniel Thomas Kirchner, stating Hardy was shooting at her husband in the backyard. “He came into my backyard and started shooting at my husband and my other neighbor,” she tells the 911 operator. When asked what prompted the shooting, she says she does not know. She says her husband was outside working in the backyard when Hardy walked over and started shooting, hitting both her husband and another neighbor, 64-year-old Gary Wade Stocks. When she realizes Hardy had left, she tried to perform CPR on her husband, noticing he had been shot in the stomach, but it was too late. Both he and Stocks were pronounced dead at the scene.</p>

<p>When police arrived, they found Hardy had barricaded himself inside his home and refused to come out, leading to a police standoff in which gunfire was reportedly exchanged. When Cabarrus County SWAT team members finally made entry into Hardy’s home hours later, they found him dead from a self-inflicted gunshot wound. Police have released few details as to what prompted the killings, but some say it was a dispute between Hardy and Kirchner, who was the neighborhood’s HOA president, regarding pine trees that had been removed from the back of Hardy’s home. Hardy worked as a pharmacist who lived alone and had no children. It has been reported that for years Hardy had been under the care of a psychiatrist and may have been off of his prescribed medication.</p>


<p>Wayne Marks, Kirchner's business partner and long time friend, shared "These were three neighbors who worked together on landscaping projects," Marks said. "They shared tools. They shared tools. They helped each other move furniture." Marks doesn't know why a father of two young children and a kind neighbor were targeted, but he misses his friend. "There's no part of Dan I won't miss," Marks said. He describes him as funny and smart -- a guy who actually knew how to balance work and family life, never letting his 9 to 5 job get in the way of the really important things. "We know that we have lost the best part of ourselves in this," Marks said.</p>

<p>Mr. Kirchner was a graduate of University of North Carolina at Charlotte and worked as an insurance litigation consultant. He was preceded in death by his daughter Grace; brother Brian; and father Daniel Edward. Survivors include his wife Lisa; daughters Emma and Sarah; mother Tilly; sister Melissa; and sister-in-law Randy.</p>

<p>In lieu of flowers, memorials may be made to: The Turner Syndrome Society www.turnersyndrome.org; The Victory Junction Gang www.victoryjunction.org; or the Daniel Kirchner Memorial Fund, C/O Ed and Judy Porson, 7792 Coachman Court, Harrisburg, NC 28075.</P></h2>

<p>My wife met Dan's wife Lisa at our church. At the time, my two daughters were about the same age as their two daughters, so they hit it off almost immediately. At first our families connected through play dates, then birthday parties, and then to joining the girlscouts together.</P></h2>

<p>What struck me most of their family was how different his girls were. My kids, fortunately or unfortunetly, acted like kids. In direct opposition his girls were so well behaved and so considerate of anyone around them. If you ever read the "Highlights magazine" as a child, they had a section entitled "Goofus and Gallant". Goofus was always in trouble because he failed to follow the rules or listen to adults. While in direct contrast Gallant would always do the right thing and was a perfect role model for all children of that age. While my "Goofus's" would have to be told multiple times that we were leaving the playground, their kids came at the first call. While my kids wanted every "Monster High" in existence for their birthdays or other holidays, his oldest daughter when asked what she wanted for her birthday, asked that we make a donation to the local animal shelter.(Unfortunately, I could go on and on, however I think you get the point.)They really emulated Dan's thoughtfulness and demeanor. He was a great Dad, and a great role model.</P></h2>

<p>Years before this incident, Dan, the Homeowners Association President, approached his neighbor Anthony Hardy and asked him if he would be interested in joining the association as an advisor to neighborhood landscaping. Mr. Hardy, while a seemingly nice guy, was a sort of recluse who seemed to work all the time and didn't much socialize with anyone in the neighborhood. So Dan took upon himself to try to get Mr. Hardy involved and it worked. Through his participation with the Homeowners Association, Mr. Hardy came out of his comfort zone and became quite active in the community. This was the kind of person Dan was. Always looking out for others. Trying to make a positive impact on everyone he met.</P>

<p>Mr. Hardy phoned his sister the morning of the 29th. Through the conversation, it became readily apparent that something was terribly wrong with here brother. For years Mr. Hardy was under the care of psychiatrists who had prescribed medication that allowed him to function normally in society, however it was obvious that on this day he was off of his meds. She pleaded repeatedly with her brother to take his medicine which he declined multiple times. After the call, the sister was so disturbed from the interaction, that she immediately jumped in her car and began driving from her home in Virginia to Mr. Hardy's residence in Harrisburg, North Carolina.</P>

<p>On some level the conversation with his sister must have registered, as shortly after their converastion Mr. Hardy called 911 explaining that he wasn't feeling well. When the paramedics arrived they proceeded to check Mr. Hardy's vitals and quickly found that there was nothing physically wrong with him, however they could see by his demanor that he was very restless, and worried that something was still wrong, so they stayed with him for about an hour to put him at ease. Eventually he did seem to improve, so he agreed to let the paramedics leave. It was only four hours later that Mr. Hardy approached Dan who was conversing with another neighbor, then wihout provocation proceeded to pull out a pistol and shoot Dan as well as the neighbor.</P>

<p>As news spread about the incident, more information about Mr. Hardy's background began to surface. In 2004, Hardy had an altercation with the person who once lived in the home that Dan and Lisa resided. That incident ended with Hardy pleading guilty to misdemeanor assault charges. According to the police report from that incident, the neighbor stated:
“Upon ringing the doorbell, Tony asked about a sign in his front yard, he proceeded to enter my house physically kicking and punching, screaming son of a b*&^%, proceeded to punch me in the face as well as kick me in the face.  I ran into my utility room and shut door. I called the police.”</p>

<p>Because of the violent nature of the incident in 2004, Mr. Hardy was on file with the local sheriff's department. And any firearm purchases that Mr. Hardy wanted to make would have to be first approved by the sheriff's office. As reported later by multiple sources, this firearm provision was never inforced, as multiple weapons to include those described as "assault weapons" were purchased by Mr. Hardy. After an investigation the  sheriff's office released a statement that unfortunately Mr. Hardy was able to buy multiple firearms without flagging anyone in the office due to a procedural error that allowed his purchases to quote, "fall through the cracks".</P></h2>

<p>So this is why I have started this site. This why I want mandatory background checks for all firearm purchases. These are to include transactions that take place at local gun and knife shows, where a lot firearm purchases are done under the table or out in the parking lot where a record of the transaction is never cataloged, therefore can't be traced. While it is almost impossible to estimate just how many firearms are sold in this manner, I think most people would agree that every transaction should be documented with who sold the firearm, and who was the puchaser.</P></h2>

<p>In addition, I want to ensure that a national database is created that lists all individuals that are deemed by a medical professional to be a threat to themselves or others that will also be included in the background check process.</P></h2>

<p>I want to make it perfectly clear that this site is by no means politically motivated. My feeling is that anyone should have the ability to purchase a firearm if they want to. (Even to include assault weapons.) However, all firearm purchases should go through an extensive criminal background check, to include the database compiled by medical professionals. According to usgunviolence.wordpress.com, even 74% of NRA support universal background checks for all firearm purchases. While the press has reported that support is well into the 90th percentile for those polled from the general public.</P></h2>

<p>So I ask you once again to please support this iniatitive because it is right thing to do. Hopefully going forward we can put a stop to these type of incidnts . And so I don't have to explain once again to my daughters, why this happened to their friend's Daddy.</P></h2>




</body>

</html>
