<head>

    <title>How long?</title>
    <link rel="stylesheet" type="text/css" href="mystyledestination.css">


</head>

<body>

<style>
.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.img {
    margin-left: auto;
    margin-right: auto;
    width: 56%;
}

</style>

<div class="img">
<img src="file:///Users/joecursi/Desktop/Kirchner.jpg" width="800" height="450" alt="">

</div>

<div class="center">

<h1><strong>Daniel Kirchner</strong></h1>

<h2><strong>March 29th, 2013</strong></h2>

<h2><strong>Harrisburg, NC</strong></h2>

<h2><p>Anthony Hardy shot and killed his neighbors on either side of his home before killing himself after a police standoff. Police say they received a 911 call from the wife of 42-year-old Daniel Thomas Kirchner, stating Hardy was shooting at her husband in the backyard. “He came into my backyard and started shooting at my husband and my other neighbor,” she tells the 911 operator. When asked what prompted the shooting, she says she does not know. She says her husband was outside working in the backyard when Hardy walked over and started shooting, hitting both her husband and another neighbor, 64-year-old Gary Wade Stocks. When she realizes Hardy had left, she tried to perform CPR on her husband, noticing he had been shot in the stomach, but it was too late. Both he and Stocks were pronounced dead at the scene.</p>

<p>When police arrived, they found Hardy had barricaded himself inside his home and refused to come out, leading to a police standoff in which gunfire was reportedly exchanged. When Cabarrus County SWAT team members finally made entry into Hardy’s home hours later, they found him dead from a self-inflicted gunshot wound. Police have released few details as to what prompted the killings, but some say it was a dispute between Hardy and Kirchner, who was the neighborhood’s HOA president, regarding pine trees that had been removed from the back of Hardy’s home. Hardy worked as a pharmacist who lived alone and had no children. It has been reported that for years Hardy had been under the care of a psychiatrist and may have been off of his prescribed medication.</p>

<p>In 2004, Hardy had an altercation with the person who once lived in the home Kirchner resided. That incident ended with Hardy pleading guilty to misdemeanor assault charges. According to the police report from that incident, the neighbor stated:
“Upon ringing the doorbell, Tony asked about a sign in his front yard, he proceeded to enter my house physically kicking and punching, screaming son of a b*&^%, proceeded to punch me in the face as well as kick me in the face.  I ran into my utility room and shut door. I called police.”</p>

<p>Wayne Marks, Kirchner's business partner and long time friend, shared "These were three neighbors who worked together on landscaping projects," Marks said. "They shared tools. They shared tools. They helped each other move furniture." Marks doesn't know why a father of two young children and a kind neighbor were targeted, but he misses his friend. "There's no part of Dan I won't miss," Marks said. He describes him as funny and smart -- a guy who actually knew how to balance work and family life, never letting his 9 to 5 job get in the way of the really important things. "We know that we have lost the best part of ourselves in this," Marks said.</p>

<p>Mr. Kirchner was a graduate of University of North Carolina at Charlotte and worked as an insurance litigation consultant. He was preceded in death by his daughter Grace; brother Brian; and father Daniel Edward. Survivors include his wife Lisa; daughters Emma and Sarah; mother Tilly; sister Melissa; and sister-in-law Randy.</p>

<p>In lieu of flowers, memorials may be made to: The Turner Syndrome Society www.turnersyndrome.org; The Victory Junction Gang www.victoryjunction.org; or the Daniel Kirchner Memorial Fund, C/O Ed and Judy Porson, 7792 Coachman Court, Harrisburg, NC 28075.</P></h2>

</body>

</html>
