<html>

<head>

    <title>How Long?</title>
    <link rel="stylesheet" type="text/css" href="howlongdestination.css">

</head>

<body>

<h1>News</h1>

<h2>The following are links to current events relating to gun homicide and survivor rights.   
</h2> 

<ol>

   <h3><p><a href="http://www.cnn.com/2015/03/09/politics/gun-rights-group-ad-campaign-armor-piercing-bullet-ban/index.html">HTML Cnn</a>Obama administration scraps bullet ban after push back</p></h3>

   <h3><p><a href="http://www.cnn.com/2015/01/20/us/colorado-james-holmes-trial-movie-massacre/index.html">HTML CNn</a>Movie massacre trial of James Holmes begins with 9,000 potential jurors</p></h3>

   <h3><p><a href="http://www.vpc.org/press/1502nc.htm">HTML Vpc</a>Chapel Hill Attack is the 29th Mass Shooting Involving a Concealed Handgun Permit Holder Since May 2007</p></h3>

   <h3><p><a href="http://http://www.vpc.org/press/1501gundeath.htm">HTML VPc</a>States with Weak Gun Laws and Higher Gun Ownership Lead Nation in Gun Deaths, New Data for 2013 Confirms</p></h3>

   <h3><p><a href="https://usgunviolence.wordpress.com/2014/08/10/how-the-nra-denies-its-own-members-the-vote/">HTML Usg</a>Shot in the USA: Gun Violence After Newtown</p></h3>

   <h3><p><a href="http://www.wfmz.com/news/news-regional-berks/Local/da-police-justified-in-shooting-of-jonathan-rutkowski-armed-man-in-wernersville/21308804">HTML Wfm</a>DA: Police justified in shooting of Jonathan Rutkowski, armed man in Wernersville</p></h3>

   <h3><p><a href="http://www.huffingtonpost.com/2015/03/11/thomas-jackson-resignation_n_6849334.html">HTML Huf</a>Ferguson Police Chief Thomas Jackson To Resign, Reports Say</p></h3>

   <h3><p><a href="http://www.huffingtonpost.com/jackson-katz/men-gender-gun-violence_b_2308522.html">HTML OVc</a>Memo to Media: Manhood, Not Guns or Mental Illness, Should Be Central in Newtown Shooting</p></h3>

</ol>



</body>

<!-- Home  Tab -->

</html>