</head>

<body>

<h1>Survivor Resources</h1>

<h2><p>Losing a loved one through homicide is one of the most traumatic experiences that an individual can face. It is an event for which no one can adequately prepare, but which leaves in its wake tremendous emotional pain and upheaval. For purposes of this site, homicide or murder is defined as the “willful (nonnegligent) killing of one human being by another”.</p>

<p>Studies coducted on homicide grief estimate that there are seven to ten close relatives not counting significant others, friends, neighbors and co-workers  for each victim. Those left behind to mourn are called “homicide survivors” and no amount of justice, restitution, prayer or compassion will bring their loved one back.</P>

<p>When someone is murdered, the death is sudden, violent, final and incomprehensible. The loved one is no longer there — the shared plans and dreams are no longer possible. The loss of the relationship will be grieved in different ways by all those who felt close to the victim because their relationships with the victim were all different.</p>

<p>Grief reactions may be manifested long after the physical loss of a loved one.  For example, parents may find that they re-experience feelings of loss many years later, such as when they see friends of their murdered child graduate from high school or college, get a job or start a family. Also parents may have believed that, in the natural order of life, the older generation should die first; if so, they may have great difficulty with the fact that their young or grown children were killed while they themselves still live, thus violating this expectation.</p>

<p>Siblings may feel guilt in moving on with their lives — for example, getting married or having a family. This may be especially true if these plans were not already in existence when the victim died or if the murder occurred at a time when the victim had similar plans. When the victim was also the survivor’s confidant or best friend, then the love and support which normally might have been available to help the survivor in the aftermath of the murder may be especially missed. The survivor may feel even more alone than ever.</p>

<p>Family members may have had a conflicted relationship with the victim. The fact that their loved one has died means that these issues or bad feelings will remain unresolved, leaving the survivor with the additional loss of hope that things could have been worked out while the victim lived.<p>

<h2>The hope for the following are that they will contain the coping mechanisms and techniques that will aid survivors of murder victims through this painful process. As with any content entered in this site, please feel free to send comments on any material that was found particularly helpful or anything else to the contrary.</p>

</h2> 

Changing the Laws
After pursuing their loved one’s case through the criminal justice system, many homicide survivors become active in educating legislators concerning the “secondary victimization” that they have experienced. It is sometimes felt that helping to make the system better for others is one way of making some good come out of the tragedy of their loss. Some of the changes being sought include: “truth in sentencing” legislation (establishing that the actual time sentenced is the actual time served); restorative justice; and more effective approaches to dealing with issues of juvenile justice and victims of juvenile offenders.





<h3>Survivor 101 Help Aids</h3>

<ol>

   <h3><li><a href="Survivor 101: Web Sites" tabindex="1">Inspiration for "How Long?"</a></li></h3>

   <h3><li><a href="Survivor 101: Literature" tabindex="1">1</a></li></h3>

   <h3><li><a href="Survivor 101: Crime Victims Rights By State" tabindex="1">2</a></li></h3>

</ol>

</body>

<!-- Home  Tab -->

</html>