'<html>

<head>

    <title>How Long?</title>
    <link rel="stylesheet" type="text/css" href="howlongdestination.css">

</head>

<body>

<h1>In Memoriam</h1>

<h2>The following links contain testimony from survivors of murder victims. Telling their stories; what happened to them, and what happened to their loved ones.   
</h2> 

<h2>Latest Reported Incidents: To include the incident that was the inspirations for this forum.</h2>

<h3>Links</h3>
<ol>

   <h3><li><a href="file:///Users/joecursi/Desktop/howlong1.html" tabindex="1">Inspiration for "How Long?"</a></li></h3>

   <h3><li><a href="file:///Users/joecursi/Desktop/howlong1.html" tabindex="1">1</a></li></h3>

   <h3><li><a href="file:///Users/joecursi/Desktop/howlong2.html" tabindex="1">2</a></li></h3>

   <h3><li><a href="file:///Users/joecursi/Desktop/howlong3.html" tabindex="1">3</a></li></h3>

   <h3><li><a href="file:///Users/joecursi/Desktop/howlong4.html" tabindex="1">4</a></li></h3>

   <h3><li><a href="file:///Users/joecursi/Desktop/howlong5.html" tabindex="1">5</a></li></h3>

   <h3><li><a href="file:///Users/joecursi/Desktop/howlong6.html" tabindex="1">6</a></li></h3>

   <h3><li><a href="file:///Users/joecursi/Desktop/howlong7.html" tabindex="1">7</a></li></h3>

   <h3><li><a href="file:///Users/joecursi/Desktop/howlong8.html" tabindex="1">8</a></li></h3>

   <h3><li><a href="file:///Users/joecursi/Desktop/howlong9.html" tabindex="1">9</a></li></h3>

</ol>

<!-- Search Box; Name, Year, State -->

</body>

<!-- Home  Tab -->

</html>