<html>

<head>

    <title>How Long?</title>
    <link rel="stylesheet" type="text/css" href="howlongdestination.css">

</head>

<body>

<h1>Survivor 101: Survivor Rights by State</h1>

<h2>The following contains information or links to survivor right's sites for every state.   
</h2> 

<ol>

   <h3><p><a href="http://crime.about.com/od/victimsrightsbystate">HTML Cri</a>About.com listings for  Crime Victim's Rights and Resources</p></h3>

   <h3><p><a href="http://www.ovc.gov/publications/infores/whatyoucando_2010/WhatUCanDo_508.pdf">HTML Ovc</a>Dept. of Justice pamphlet: "What You Can Do If You are a VICTIM OF CRIME"</p></h3>

   <h3><p><a href="http://www.victimsofcrime.org/our-programs/national-crime-victim-bar-association/for-victims">HTML Vic</a>Refers crime victims to lawyers in their local area, and works to increase general awareness about the availability of civil remedies for victims of crime.</p></h3>

   <h3><p><a href="http://ovc.ncjrs.gov/ncvrw2014/pdf/Landmarks.pdf">HTML OVc</a>Office For Victims of Crime; a subsidiary of the U.S. Dept. of Justice pamphlet: Landmarks in Victims’ Rights & Services: An Historical Overview</p></h3>

</ol>



</body>

<!-- Home  Tab -->

</html>





