<html>

<head>

    <title>How Long?</title>
    <link rel="stylesheet" type="text/css" href="howlongdestination.css">

</head>

<body>

<h1>Survivor 101: Web Sites</h1>

<h2>The following links contain helpful resources located on the web.   
</h2> 

<h3>Links</h3>
<ol>

   <h3><p><a href="http://www.ovc.gov">HTML Ovc</a>Office For Victims of Crime; a subsidiary of the U.S. Dept. of Justice</p></h3>

   <h3><p><a href="http://http://ovc.ncjrs.gov/findvictimservices/search.asp">HTML Ovc.ncjrs</a>OVC online search engine to locate local survivor services</p></h3>

   <h3><p><a href="http://www.murdervictims.com/Holidays.htm">HTML Mur</a>Suggestions on how to cope during holidays after a loss</p></h3>

   <h3><p><a href="http://justiceforhomicidevictims.net/survival.html">HTML Jus</a>Justice for Homicide Victims: Guide to Survival</p></h3>

   <h3><p><a href="http://http://www.vaonline.org/support.html">HTML Vao</a>Veteran Affairs information support site</p></h3>

   <h3><p><a href="http://maketheconnection.net">HTML Mak</a>Another site for Veterans</p></h3>

   <h3><p><a href="http://http://www.ptsd.va.gov/">HTML Pts</a>Veteran site focusing on Post Traumatice Stress</p></h3>

   <h3><p><a href="http://www.ican-foundation.org/resources/homicide">HTML Ica</a>Crime Victims Assistance Network (iCAN) Foundation</p></h3>

   <h3><p><a href="http://http://www.victimsofcrime.org/help-for-crime-victims/find-local-assistance---connect-directory">HTML Vic</a>Resource search engine</p></h3>

   <h3><p><a href="http://www.hvmfoundation.org ">HTML Hvm</a>A memorial for the survivors of homicide victims</p></h3>

</ol>



</body>

<!-- Home  Tab -->

</html>











