<!DOCTYPE html>
<html lang="en">
<head>

<!-- BOOTSTARTER premium Bootstrap html5 template v 1.0.0. 
ArtLabs 2013 - http://www.sitediscount.ru 
####### Released under GNU GENERAL PUBLIC LICENSE
Version 2 ############ -->

<meta charset="utf-8">
<title>How long?</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="responsive parallax Bootstrap template">
<meta name="author" content="ArtLabs">

<!-- ######################## Styles ######################
	=======================================================-->
	<link href="assets/css/animate.min.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<!--<link href="assets/css/flat-ui.css" rel="stylesheet">-->


<!-- =========================================================================
	!important THIS FILE -= style.css =- ON BOTTOM OF BOOTSTRAP STYLEs  LIST
	This override bootstrap def. style
===================================================-->
<link href="assets/css/style.css" rel="stylesheet">

<!-- FontAwesome styles (iconic font)-->
<link href="assets/css/font-awesome.min.css" rel="stylesheet"> 
<!-- prettyPhoto styles -->

<!-- Gallery inlarge script styles-->
<link href="assets/css/prettyPhoto.css" rel="stylesheet" type="text/css" />

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
<!-- Google web fonts -->

<link href='http://fonts.googleapis.com/css?family=Medula+One|Roboto:400,300,400italic,500,700,900' rel='stylesheet' type='text/css'>

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<body data-spy="scroll" data-target=".scroller-spy">

<!--################# START MAIN-WRAPPER ####################
	============================================================ --> 
<div class="main-wrapper">

			<!--START SCROLL EVENTS ELEMENTS--> 
					<!-- !!CLICK EVENT TOP SCROLL-->
					<div class="top-link-click right hidden-phone"></div>
					<!-- !!HOVER EVENT TOP SCROLL-->
					<div class="top-link right hidden-phone"></div>
					<!-- !!HOVER EVENT TOP SCROLL-->
					<div class="bottom-link right hidden-phone"></div>
					<!-- !!CLICK EVENT TOP SCROLL-->
					<div class="bottom-link-click right hidden-phone"></div>
					<div class="top-corner"></div>
					<div class="bottom-corner"></div>
			<!--/. SCROLL EVENTS ELEMENTS--> 

	<!-- ######################  START HEADER ######################
		==============================================================-->
	<header class="headertop needhead" id="header-section">
	
		<!-- START PARALLAX BG -->
		<div class="innerbg">
			<div class="overlaybg">
			
			
	<!-- ###################### START TOP MENU ####################
		============================================================== -->

<div class="nav-top"> 
	<!-- navbar-fixed-top -->
    <div class="navbar navbar-fixed-top" id="top-nav"> 
	<!-- INNER-->
      <div class="navbar-inner">
        <div class="container"> 
		
		<!-- Collapse button -->	
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
						<!-- LOGO -->
						<a class="brand" href="index.html"> 
						<span><i class="fa-icon-chevron-down"></i></span> How long?
						<!--<img src="assets/img/logo.png" alt="Logo">--></a>
						
			 <!-- TOP NAVIGATION-->
			 <div id="main-nav" class="scroller-spy">
				<nav class="nav-collapse collapse" >
				  <ul class="nav pull-right" id="nav">
					<li class="active"><a href="#INDEX-section">Home</a> </li>
					<li><a href="#IN-MEMORIAM-section">In Memoriam</a> </li>
					<li><a href="#SURVIVOR RESOURCES-section">Survivor Resources</a> </li>
					<li><a href="#CURRENT-EVENTS-section">Current Events</a> </li>
					<li><a href="#CONTACT-section">Contact</a> </li>
				  </ul>
				</nav>
			</div>
		 </div>
      </div>
    </div>
</div>
<!-- ############################ END TOP MENU ###############
	========================================================== -->		

<!-- HEADER MAIN-->	
<div class="hero-unit">
	<div class="container">
		<div class="row-fluid">
			<div class="text-center">
				<hr class="half">
					<h1 class="">How long?</h1>
				<hr class="half">
			</div>	
		</div>	
	</div>
</div>

</div><!-- /overlaybg-->
</div><!--/ END PARALLAX BG-->
</header>
	


	
	<!-- ######################## INDEX SECTION ##################
	============================================================== -->			
<div class="row-fluid">
	
				
					<div class="span4 pull-right text-center">
					</div>
					<div class="caption span8">
						<h3>Mission:</h3>
						<p class="lead">
							This evolving platform will act as a voice and reference source for the survivors of gun violence.
						</p>
					</div>

					<div class="span4 pull-right text-center">
					</div>
					<div class="caption span8">
						<h3>Vision:</h3>
						<p class="lead">
							Through the humanization of gun violence survivors, to drive change of the existing gun control laws to include mandatory criminal background checks for <strong>all</strong> firearm purchases, and the creation of a national database composed of individuals identified by a medical professional as someone who <strong>poses a threat to themselves or others</strong>.
						</p>
					</div>
					<p>
					</p>
	</div>



	<div class="row-fluid">
		<div class="span4 pull-right text-center">
					</div>
					<div class="caption span8">
						<h3>Introduction To The Site</h3>
						<div class="span3 text-center">
						</div>
		</div>
	</div>

	<div class="row-fluid paragraph-middle">
						<div class="span2 text-center">
							<span class="label label-new"><i class="fa-icon-desktop fa-icon-medium color-dark"></i></span>
						</div>
						<div class="span9">
							<p class="lead">  <strong>In Memoriam</strong>  Is a virtual memorial containing testimonials from survivors of murder victims.
							</p>
						</div>
					</div>
					
					<div class="row-fluid paragraph-middle">
						<div class="span2 text-center">
							<span class="label label-new"><i class="fa-icon-laptop fa-icon-medium color-dark"></i></span>
						</div>
						<div class="span9">
							<p class="lead">  <strong>Survivor Resources</strong> Contains tried and true methods and techniques that will aid survivors in the devastating aftermath of coping with the unnatural death of a loved one.  
							</p>
						</div>
					</div>
					
					<div class="row-fluid paragraph-middle">
						<div class="span2 text-center">
							<span class="label label-new"><i class="fa-icon-tablet fa-icon-medium color-dark"></i></span>
						</div>
						<div class="span9">
							<p class="lead">  <strong>Current Events</strong> News reports relating to gun control, gun homicides, and survivor rights.   
							</p>
						</div>
					</div>


					<div class="row-fluid">
							<div class="text-center">
											<h3 class="">Add, Update, Comment</h3>
											<p class="lead">
									The unfortunate reality is that this site will be an everchanging platform for the survivors of gun violence. On the <strong>Contacts</strong> page, (Last tab on the far right of the navigation bar), any visitor of the application can either Add, Update, or Comment about anything enclosed within this site. This is to include; adding a loved one to our virtual memorial, suggesting new literature that was found to be helpful, or general suggestions to improve the site. Please feel free to forward anything that is on your mind. (Be it either positive and negative.)
								</p>
								<p class="lead"><strong>We are all in this together! For as long as it takes!</strong></p>
							</div>
					</div>
	
				</div>
			</div>
		</div>
					
					
		

		
</section>

<!-- ######################## END OF INDEX SECTION ##################
	====================================================== -->			
<!-- / ##################### SHOW SECTION ###########
	====================================================== -->
<!-- HEADER MAIN-->	
<div class="hero-unit">
	<div class="container">
		<div class="row-fluid">
			<div class="text-center">
				<hr class="half">
					<h1 class="">In Memoriam</h1>
				<hr class="half">
			</div>	
		</div>	
	</div>
</div>

</div><!-- /overlaybg-->
</div><!--/ END PARALLAX BG-->
</header>
					
					
					<div class="row-fluid paragraph-middle">
						<div class="span2 text-center">
						</div>
						<div class="span8">
							<p class="lead">The following database contains the testimony from survivors of murder victims. Telling their stories; what happened to their loved ones, and how they were able to move forward.
							</p>
						</div>
					</div>
					
					<div class="row-fluid paragraph-middle">
						<div class="span3 text-center">
						</div>
						<div class="span8">
							<p class="lead"> The search tool can be accessed by entering a <strong>NAME</strong>, <strong>STATE</strong>, or <strong>YEAR</strong>.   
							</p>
						</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h2 class="">SEARCH FORM</h2>
							</div>
					</div>
	<div class="row-fluid">
							<div class="text-center">
											<p class="lead">
									If you would like to add a loved one to this virtual memorial please enter all the required information on the <strong>Contact</strong> page. If you need help, please feel free to use the listing entitled "My Inspiration For This Site" as a guide which is also listed on the <strong>Contact</strong> page.
								</p>
							</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h3 class=""class=""><li><a href="#CONTACT-section">Contact</a></li></h3>
							</div>
					</div>
</section>

<!-- / ##################### END OF SHOW SECTION ###########
	====================================================== -->


	<!-- ##################### RESOURCES ###################
  ======================================================= -->
<div class="hero-unit">
	<div class="container">
		<div class="row-fluid">
			<div class="text-center">
				<hr class="half">
					<h1 class="">Survivor Resources</h1>
				<hr class="half">
			</div>	
		</div>	
	</div>
</div>

</div><!-- /overlaybg-->
</div><!--/ END PARALLAX BG-->
</header>

<div class="row-fluid paragraph-middle">
						<div class="span2 text-center">
						</div>
						<div class="span8">
							<p class="lead">Losing a loved one through homicide is one of the most traumatic experiences that an individual can face. It is an event for which no one can adequately prepare, but which leaves in its wake tremendous emotional pain and upheaval. For purposes of this site, homicide or murder is defined as the “willful (nonnegligent) killing of one human being by another”.
							</p>
							<p class="lead"> Studies coducted on homicide grief estimate that there are seven to ten close relatives not counting significant others, friends, neighbors and co-workers  for each victim. Those left behind to mourn are called “homicide survivors” and no amount of justice, restitution, prayer or compassion will bring their loved one back.</P>

							<p class="lead">When someone is murdered, the death is sudden, violent, final and incomprehensible. The loved one is no longer there — the shared plans and dreams are no longer possible. The loss of the relationship will be grieved in different ways by all those who felt close to the victim because their relationships with the victim were all different.</p>

							<p class="lead">Grief reactions may be manifested long after the physical loss of a loved one.  For example, parents may find that they re-experience feelings of loss many years later, such as when they see friends of their murdered child graduate from high school or college, get a job or start a family. Also parents may have believed that, in the natural order of life, the older generation should die first; if so, they may have great difficulty with the fact that their young or grown children were killed while they themselves still live, thus violating this expectation.</p>

							<p class="lead">Siblings may feel guilt in moving on with their lives — for example, getting married or having a family. This may be especially true if these plans were not already in existence when the victim died or if the murder occurred at a time when the victim had similar plans. When the victim was also the survivor’s confidant or best friend, then the love and support which normally might have been available to help the survivor in the aftermath of the murder may be especially missed. The survivor may feel even more alone than ever.</p>

							<p class="lead">Family members may have had a conflicted relationship with the victim. The fact that their loved one has died means that these issues or bad feelings will remain unresolved, leaving the survivor with the additional loss of hope that things could have been worked out while the victim lived.<p>


						</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h2 class="">Changing the Laws</h2>
											<p class="lead">
									After pursuing their loved one’s case through the criminal justice system, many homicide survivors become active in educating legislators concerning the “secondary victimization” that they have experienced. It is sometimes felt that helping to make the system better for others is one way of making some good come out of the tragedy of their loss. Some of the changes being sought include: "preventing gun violence" legislation (establishing that addresses fire arm purchases at informal "Gun and Knife" shows including stiff consequences for both parties taking part in the transaction, legislation “truth in sentencing” (establishing that the actual time sentenced is the actual time served); restorative justice; and more effective approaches to dealing with issues of survivor rights.
								</p>
							</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h2 class="">Survivor 101 Help Aids</h2>
											<p class="lead">
									The hope for the following is that the resources listed will aid survivors of murder victims by introducing proven coping mechanisms and techniques that will help them through this painful process. As with any content entered in this site, please feel free to send comments on any material that was found particularly helpful or anything else to the contrary. Suggestions for resources that have been found particularly helpful are always welcome!
								</p>

								<h3><li><a href="Survivor 101: Web Sites" tabindex="1">Web Sites</a></li></h3>

   							<h3><li><a href="Survivor 101: Literature" tabindex="1">Literature</a></li></h3>

   							<h3><li><a href="Survivor 101: Crime Victims Rights By State" tabindex="1">Crime Victims Rights By State</a></li></h3>
							</div>
					</div>


<!-- #####################Survivor 101: Web Sites###################
  ======================================================= --> 
  <div class="hero-unit">
	<div class="container">
		<div class="row-fluid">
			<div class="text-center">
				<hr class="half">
					<h1 class="">Survivor 101: Web Sites</h1>
				<hr class="half">
			</div>	
		</div>	
	</div>
</div>

</div><!-- /overlaybg-->
</div><!--/ END PARALLAX BG-->
</header>

<div class="row-fluid">
							<div class="text-center">
											<h2>The following links contain helpful resources located on the web:</h2>
							</div>
					</div>


<div class="row-fluid">
							<div class="text-center">
											<h3 class=""><li><a href="http://www.ovc.gov">HTML Ovc</a>Office For Victims of Crime; a subsidiary of the U.S. Dept. of Justice</a></li></h3>
							</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h3 class=""><li><a href="http://http://ovc.ncjrs.gov/findvictimservices/search.asp">HTML Ovc.ncjrs</a>OVC online search engine to locate local survivor services</a></li></h3>
							</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h3 class=""><li><a href="http://www.murdervictims.com/Holidays.htm">HTML Mur</a>Suggestions on how to cope during holidays after a loss</a></li></h3>
							</div>
					</div>

					<div class="text-center">
											<h3 class=""><li><a href="http://justiceforhomicidevictims.net/survival.html">HTML Jus</a>Justice for Homicide Victims: Guide to Survival</a></li></h3>
							</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h3 class=""><li><a href="http://http://www.vaonline.org/support.html">HTML Vao</a>Veteran Affairs information support site</a></li></h3>
							</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h3 class=""><li><a href="http://maketheconnection.net">HTML Mak</a>Another site for Veterans</a></li></h3>
							</div>
					</div>

					<div class="text-center">
											<h3 class=""><li><a href="http://http://www.ptsd.va.gov/">HTML Pts</a>Veteran site focusing on Post Traumatice Stress</a></li></h3>
							</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h3 class=""><li><a href="http://www.ican-foundation.org/resources/homicide">HTML Ica</a>Crime Victims Assistance Network (iCAN) Foundation</a></li></h3>
							</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h3 class=""><li><a href="http://http://www.victimsofcrime.org/help-for-crime-victims/find-local-assistance---connect-directory">HTML Vic</a>Resource search engine</a></li></h3>
							</div>
					</div>

					<div class="text-center">
											<h3 class=""><li><a href="http://www.hvmfoundation.org ">HTML Hvm</a>A memorial for the survivors of homicide victims</a></li></h3>
							</div>
					</div>
<!-- / ##################### END Survivor 101: Web Sites ###########
	====================================================== --> 

	<!-- #####################Survivor 101: LITERATURE###################
  ======================================================= --> 
  <div class="hero-unit">
	<div class="container">
		<div class="row-fluid">
			<div class="text-center">
				<hr class="half">
					<h1 class="">Survivor 101: Literature</h1>
				<hr class="half">
			</div>	
		</div>	
	</div>
</div>

</div><!-- /overlaybg-->
</div><!--/ END PARALLAX BG-->
</header> 


<div class="row-fluid">
							<div class="text-center">
											<h2>The following links contain helpful literature concerning coping with trauma and loss, to include their corresponding link to Amazon.com. By no means is this list meant to be all inclusive. These are just my personal favorites.</h2>
							</div>
					</div>

	 <div class="row-fluid">
			<div class="text-center">
					<h3><p>"Once Upon a Family: A Son's Journey of Love, Loss, and Hope" by Pamela L. Adams - (Childrens book)<a href="http://www.amazon.com/Once-Upon-Family-Sons-Journey/dp/1891029355/ref=sr_1_4?s=books&ie=UTF8&qid=1426095522&sr=1-4&keywords=once+upon+a+family">HTML Onc</a></p></h3>
			</div>
	 </div>

	 <div class="row-fluid">
			<div class="text-center">
					<h3><p>"I Wasn't Ready to Say Goodbye: Surviving, Coping and Healing After the Sudden Death of a Loved One" by Pamela Blair PhD, Brook Noel<a href="http://www.amazon.com/Wasnt-Ready-Say-Goodbye-Surviving/dp/1402212216/ref=pd_sim_b_6?ie=UTF8&refRID=1P0A68MB0B93J3AXNMSG">HTML Was</a></p></h3>
			</div>
	 </div>

	 <div class="row-fluid">
			<div class="text-center">
					<h3><p>"Angel Catcher: A Journal of Loss and Remembrance" by Kathy Eldon, Amy Eldon Turteltaub<a href="http://www.amazon.com/Angel-Catcher-Journal-Loss-Remembrance/dp/0811861724/ref=pd_rhf_dp_s_cp_1_AQNE?ie=UTF8&refRID=100KN4SXR71CMMSAV3A1">HTML Ang</a></p></h3>
			</div>
	 </div>

	 <div class="row-fluid">
			<div class="text-center">
					<h3><p>"Angel Catcher for Kids: A Journal to Help You Remember the Person You Love Who Died" by Amy Eldon (Children's book)<a href="http://www.amazon.com/Angel-Catcher-Kids-Journal-Remember/dp/0811834433/ref=pd_bxgy_b_text_y">HTML ANg</a></p></h3>
			</div>
	 </div>

	 <div class="row-fluid">
			<div class="text-center">
					<h3><p>"Tear Soup: A Recipe for Healing After Loss" by Pat Schwiebert, Chuck DeKlyen<a href="hhttp://www.amazon.com/Tear-Soup-Recipe-Healing-After/dp/0961519762/ref=pd_bxgy_b_text_z">HTML Tea</a></p></h3>
			</div>
	 </div>

	 <div class="row-fluid">
			<div class="text-center">
					<h3><p>"I Wasn't Ready to Say Goodbye: Surviving, Coping and Healing After the Sudden Death of a Loved One" by Pamela Blair PhD, Brook Noel <a href="http://www.amazon.com/Wasnt-Ready-Say-Goodbye-Surviving/dp/1402212216/ref=pd_sim_b_3?ie=UTF8&refRID=167HC8NEVFZBMV1E0G0S">HTML Iwa</a></p></h3>
			</div>
	 </div>

	 <div class="row-fluid">
			<div class="text-center">
					<h3><p>"Healing a Spouse's Grieving Heart: 100 Practical Ideas After Your Husband or Wife Dies" by Alan D. Wolfelt PhD<a href="http://www.amazon.com/Healing-Spouses-Grieving-Heart-Practical/dp/1879651378/ref=pd_sim_b_3?ie=UTF8&refRID=1HR7F6RTG58Y0W1R33QB">HTML Hea</a></p></h3>
			</div>
	 </div>

	 <div class="row-fluid">
			<div class="text-center">
					<h3><p>"Beyond the Bullet: Personal Stories of Gun violence Aftermath" by Heidi Yewman, Kathy Carlisle<a href="http://www.amazon.com/Beyond-Bullet-Personal-violence-Aftermath/dp/0615277381/ref=sr_1_1?s=books&ie=UTF8&qid=1426098222&sr=1-1&keywords=gun+violence">HTML Bey</a></p></h3>
			</div>
	 </div>

	 <div class="row-fluid">
			<div class="text-center">
					<h3><p>"Life and Loss: A Guide to Help Grieving Children" by Linda Goldman<a href="http://www.amazon.com/Life-Loss-Guide-Grieving-Children/dp/0415630800/ref=sr_1_6?s=books&ie=UTF8&qid=1426095508&sr=1-6&keywords=gun+violence">HTML Lif</a></p></h3>
			</div>
	 </div>

	 <div class="row-fluid">
			<div class="text-center">
					<h3><p>"Horrendous Death, Health And Well Being (Series in Death, Dying, and Bereavement)" by Daniel Leviton<a href="http://www.amazon.com/Horrendous-Death-Health-Being-Bereavement/dp/1560320338/ref=sr_1_13?s=books&ie=UTF8&qid=1426098713&sr=1-13&keywords=gun+violence">HTML Hor</a></p></h3>
			</div>
	 </div>

<div class="row-fluid">
			<div class="text-center">
					<h3><p>"Murder Survivor's Handbook: Real-Life Stories, Tips & Resources" by Connie Saindon MA<a href="http://www.amazon.com/Murder-Survivors-Handbook-Real-Life-Resources/dp/0989691306/ref=sr_1_10?ie=UTF8&qid=1426099339&sr=8-10&keywords=homicide+survivors">HTML Mur</a></p></h3>

<div class="row-fluid">
			<div class="text-center">
					<h3><p>"Transforming Traumatic Grief: Six Steps to Move from Grief to Peace After the Sudden or Violent Death of a Loved..." by Courtney M Armstrong LPC<a href="http://www.amazon.com/Transforming-Traumatic-Grief-Sudden-Violent/dp/0983499918/ref=sr_1_12?ie=UTF8&qid=1426099519&sr=8-12&keywords=homicide+survivors">HTML Tra</a></p></h3>
			</div>
	 </div>

<div class="row-fluid">
			<div class="text-center">
					<h3><p>"A Grief Like No Other: Surviving the Violent Death of Someone You Love" by Kathleen O'Hara<a href="http://www.amazon.com/Grief-Like-No-Other-Surviving/dp/1569242976/ref=pd_sim_b_1?ie=UTF8&refRID=17345J23SMF91ZRTC0QW">HTML Agr</a></p></h3>
			</div>
	 </div>

<div class="row-fluid">
			<div class="text-center">
					<h3><p>"A Terrible Thing Happened" by by Margaret M. Holmes, Sasha J. Mudlaff (Children's book)<a href="http://www.amazon.com/Angel-Catcher-Kids-Journal-Remember/dp/0811834433/ref=pd_bxgy_b_text_y">HTML ANg</a></p></h3>
			</div>
	 </div>

<!-- / ##################### END OF SURVIVOR 101: Literature ###########
	====================================================== -->    

	<!-- / ##################### SURVIVOR 101:  SURVIVOR RIGHTS BY STATE###########
	====================================================== -->  

	 <div class="hero-unit">
	<div class="container">
		<div class="row-fluid">
			<div class="text-center">
				<hr class="half">
					<h1 class="">Survivor 101: Survivor Rights by State</h1>
				<hr class="half">
			</div>	
		</div>	
	</div>
</div>

</div><!-- /overlaybg-->
</div><!--/ END PARALLAX BG-->
</header> 

<div class="row-fluid">
							<div class="text-center">
											<h2>The following contains information or links to survivor right's sites for every state.</h2>
							</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h3><p><a href="http://crime.about.com/od/victimsrightsbystate">HTML Cri</a>About.com listings for  Crime Victim's Rights and Resources</p></h3>
							</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h3><p><a href="http://www.ovc.gov/publications/infores/whatyoucando_2010/WhatUCanDo_508.pdf">HTML Ovc</a>Dept. of Justice pamphlet: "What You Can Do If You are a VICTIM OF CRIME"</p></h3>
							</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h3><p><a href="http://www.victimsofcrime.org/our-programs/national-crime-victim-bar-association/for-victims">HTML Vic</a>Refers crime victims to lawyers in their local area, and works to increase general awareness about the availability of civil remedies for victims of crime.</p></h3>
							</div>
					</div>

					<div class="row-fluid">
							<div class="text-center">
											<h3><p><a href="http://ovc.ncjrs.gov/ncvrw2014/pdf/Landmarks.pdf">HTML OVc</a>Office For Victims of Crime; a subsidiary of the U.S. Dept. of Justice pamphlet: Landmarks in Victims’ Rights & Services: An Historical Overview</p></h3>
							</div>
					</div>
<!-- / ##################### END OF SURVIVOR 101:  SURVIVOR RIGHTS BY STATE###########
	====================================================== -->    

<!-- / ##################### END OF RESOURCES ###########
	====================================================== -->    

	<!-- / #####################NEWS###########
	====================================================== -->

	 <div class="hero-unit">
	<div class="container">
		<div class="row-fluid">
			<div class="text-center">
				<hr class="half">
					<h1 class="">News</h1>
				<hr class="half">
			</div>	
		</div>	
	</div>
</div>

</div><!-- /overlaybg-->
</div><!--/ END PARALLAX BG-->
</header> 

<div class="row-fluid">
							<div class="text-center">
											<h2>The following are links to current events relating to gun homicide and survivor rights.</h2>
							</div>
					</div>





	<!-- / ##################### END OF NEWS ###########
	====================================================== -->  




	
	

<!-- ###################### FOOTER #######################
    ================================================== -->
<footer class="footer" id="contact-section">
	<div class="container">
		<div class="row-fluid">
			<div class="span3 text-center">
				<a class="brand" href="" title="">How long?</a>
			</div>		

			<div class="span5 text-center">
				<address>
					 <i class="fa-icon-map-marker"></i> 795 Folsom Ave, Suite 600, San Francisco, CA 94107 <br>
					<i class="fa-icon-phone-sign"></i> + 4 (123) 456-7890
					<div class="foot-line"></div>
				</address>
			</div>

			<!--div class="span4 text-center">
				<ul class="social-top">
					<li><a href="#" title=""><i class="fa-icon-facebook"></i></a></li>
					<li><a href="#" title=""><i class="fa-icon-twitter"></i></a></li>
					<li><a href="#" title=""><i class="fa-icon-github-alt"></i></a></li>
					<li><a href="#" title=""><i class="fa-icon-google-plus"></i></a></li>
					<li><a href="#" title=""><i class="fa-icon-linkedin"></i></a></li>
				</ul>
			</div>-->
		</div>
	<!-- ROW-FLUID-->
	</div>
</footer>
<!-- END: FOOTER -->
</div>
<!-- END: MAIN-WRAPPER-->


<!-- Le javascript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 

<script src="assets/js/jquery.js" type="text/javascript"></script> 
<script src="assets/js/google-code-prettify/prettify.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-transition.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-alert.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-modal.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-dropdown.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-scrollspy.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-tab.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-tooltip.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-popover.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-button.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-collapse.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-carousel.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-typeahead.js" type="text/javascript"></script> 
<script src="assets/js/bootstrap-affix.js" type="text/javascript"></script> 
<script src="assets/js/application.js" type="text/javascript"></script> 
<script src="assets/js/jquery.easing.js" type="text/javascript" ></script>
<script src="assets/js/jquery.waitforimages.js" type="text/javascript" ></script> 
<script src="assets/js/jquery.isotope.min.js" type="text/javascript" ></script>
<script src="assets/js/jquery.prettyPhoto-3.1.4-W3C.js" type="text/javascript"></script> 
<script src="assets/js/jquery.ui.totop.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/js/jquery.inview.js"></script>
<script src="assets/js/jquery.parallax-1.1.3.js" type="text/javascript" ></script>
<script src="assets/js/jquery.localscroll-1.2.7-min.js" type="text/javascript" ></script>
<script src="assets/js/jquery.scrollTo-1.4.2-min.js" type="text/javascript" ></script>
<script src="assets/js/jquery.nicescroll.min.js" type="text/javascript" ></script>




<script type="text/javascript" src="assets/js/custom.js"></script>



</body>
</html>
